<config>
	<carriageLength>
		25
	</carriageLength>
	<nodePower>
		200
	</nodePower>
	<recvThreshold>
		2
	</recvThreshold>
	<nodeDelayOfHandlingMessage>
		100
	</nodeDelayOfHandlingMessage>
	<groupGUID>
		19900604
	</groupGUID>
	<carriageNum>
		100
	</carriageNum>
	<simulatePeriod>
		180000000
	</simulatePeriod>
	<nodeSleepTime>
		36000000
	</nodeSleepTime>
	<logVerbosity>
		1
	</logVerbosity>
	<IMLgap>
		100
	</IMLgap>
	<ACKgap>
		100
	</ACKgap>
	<LSgap>
		100
	</LSgap>
	<timeBeforeJudgingDeath>
		5000
	</timeBeforeJudgingDeath>
	<timeBeforeSleep>
		5000
	</timeBeforeSleep>
	<dropRate>
		1
	</dropRate>
	<frequency>
		100
	</frequency>

</config>